// .home {
//     display: flex;
//     flex-direction: row;
//     flex: 1;
//     gap: var(--mediumGap);
// }

@import '/src/variables.scss';

.home .right {
    /* background-color: black; */
    /* flex-grow: 1; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--mediumGap);
}

.totalToPay{
    background-color: var(--mainBack);
    /* flex: 1; */
    width: 100%;
    border-radius: var(--mediumGap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--mediumGap);
    padding: var(--mediumGap);
    box-sizing: border-box;
    padding-bottom: 0;
    overflow: hidden;

    position: relative;
    justify-content: start;
    // padding-bottom: var(--smallGap);
    gap: var(--largeGap);
    transition: all 0.2s ease;

    .totalToPayTitle {
        color: #acacac;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;

        .totalToPayButton {
            position: absolute;
            top: $medium-gap;
            right: $medium-gap;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: calc(var(--smallGap) / 2) calc(var(--smallGap));
            border-radius: var(--smallGap);
            cursor: pointer;
            transition: all 0.2s ease;
            border: $main-color-1 solid 2px;
            // border: #eee solid 2px;
            // background-color: #eee;
            background-color: $main-color-3;
        
            font-size: 1em;
            font-weight: 600;
            color: #eee;
            // color: $main-color-3;
        
            i {
                font-size: 1.2em;
                color: #eee;
                transition: all 0.2s ease;
            }
        
            &:hover {
                background-color: #eee;
                color: $main-color-3;
                border-color: $main-color-1;
        
                i {
                    color: $main-color-3;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

// .totalToPayTitle i {
//     font-size: 1.2em;
//     color: var(--darkColor);
// }

.totalToPayValue {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--mediumGap);
    width: 100%;
    height: calc(50% - var(--mediumGap) * 1);
}

.halfChatText {
    position: absolute;
    top: 30%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 2.3em 'Roboto', sans-serif;
    font-weight: 600;
    color: #acacac;
    pointer-events: none;
}

.halfChatText span {
    font-size: 0.5em;
    font-weight: 400;
}
