.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 100%;
    width: 100%; */
    padding: 25px;
}

.imgNav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
    width: 0px;
    border-radius: 25px;
    padding: 25px;
}

.imgNav img {
    height: 30px;
    width: 30px;
    margin: 0;
}

#profileImg {
    /* background-color: rgba(91, 181, 162, 1); */
    /* background-color: rgb(45, 149, 150); */
    background-color: #9ad0c2;
}

.navLinks {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #acacac;
    font-size: 2em;
    font-weight: 500;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: #acacac solid 3px;
    transition: all 0.25s; */


    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #acacac;
    font-size: 1.5em;
    font-weight: 500;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    /* border: rgba(0, 0, 0, 0) solid 3px; */
    border: transparent solid 1px;
    transition: all 0.25s;
}

#settingsButton a {
    border-color: #acacac80;
}

.navLinks a:hover {
    /* border: var(--mainColor) solid 2px; */
    color: #fff;
    /* background-color: #171717; */
}

.navLinks .active a, #settingsButton .active a {
    /* border: #5bb5a2 solid 2px; */
    border-color: var(--mainColor);
    color: var(--lightColor);
    /* background-color: #171717; */
}

.navLinks .active a:hover, #settingsButton .active a:hover {
    color: #fff;
    /* background-color: #171717; */
}
