.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    // height: 100px;
    // overflow: hidden;
}

.notifications {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #acacac;
    font-size: 1.5em;
    font-weight: 500;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    /* border: rgba(0, 0, 0, 0) solid 3px; */
    border: #acacac80 solid 1px;
    transition: all 0.25s;
}

#barTitle {
    flex: 1;
    margin: 0;
    font-size: 2em;
    font-weight: 500;
    color: #acacac;
    padding-left: auto;
}

.addressSelector {
    position: relative;
}

.currentAddress {
    position: relative;
    color: #acacacac;
    text-overflow: ellipsis;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--smallGap);
    width: 155px;
    height: 19px;
    border-radius: var(--smallGap);
    background-color: var(--mainBack);
    transition: all 0.2s ease;
    // background-color: var(--mainBack);
    cursor: pointer;
}

.currentAddress:hover {
    color: #acacac;
    background-color: #333;
}

.currentAddress i {
    position: absolute;
    right: 10px;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    color: #acacac;
}

.wrapper1 {
    z-index: 1;
    position: absolute;
    top: 100%;
    opacity: 0;
    filter: blur(2px);
    border-radius: var(--smallGap);
    transition: all 0.25s ease;
    overflow: hidden;
    box-shadow: 0 0 10px 0px #0001;
    pointer-events: none;
}

.wrapper1.active {
    top: calc(100% + var(--smallGap));
    display: block;
    opacity: 1;
    filter: blur(0);
    pointer-events: auto;
}

.addressList {
    display: flex;
    flex-direction: column;
    gap: var(--smallGap);
    // padding: var(--mediumGap) 0 0 0;
    width: calc(155px + var(--smallGap) * 2);
    background-color: #333;
    // box-sizing: border-box;
    overflow: hidden;
    // height: 100000%;
    /* max-height: 200px; */

    // transition: all 0.25s ease;
}

.addressList:first-child {
    padding-top: var(--smallGap);
}

.addressList:last-child {
    padding-bottom: var(--smallGap);
}

.addressList .address {
    color: #acacacc0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--smallGap);
    cursor: pointer;
    transition: all 0.2s;

    i, span {
        color: #acacacc0;
        transition: all 0.2s;
    }

    &:hover {
        color: #acacac;
        i, span {
            color: #acacac;
        }
    }
}

// .addressList .address:hover {
//     color: #acacac;
//     i {
//         color: #acacac;
//     }
// }

.addressList .addressName {
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    line-height: 1;
}

.addressList .address i {
    font-size: 1.2em;
    // color: #acacacc0;
}
