@import '/src/variables.scss';

$width: 200px;
$height: 387px;

.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    // height: 100px;
    // overflow: hidden;
}

.notifications-icon {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #acacac;
    font-size: 1.5em;
    font-weight: 500;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    /* border: rgba(0, 0, 0, 0) solid 3px; */
    border: #acacac80 solid 1px;
    transition: all 0.25s;
    cursor: pointer;
}

#barTitle {
    flex: 1;
    margin: 0;
    font-size: 2em;
    font-weight: 500;
    color: #acacac;
    padding-left: auto;
}

.addressSelector {
    position: relative;
    display: flex;
    justify-content: center;

    .addressElement {
        position: relative;
        width: $width;
        color: #acacacac;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 var(--smallGap);
        cursor: pointer;
        transition: all 0.2s;
        background-color: var(--mainBack);
        border-radius: var(--smallGap);
        padding: var(--smallGap);
        margin-right: 2.5px;
        text-overflow: ellipsis;
        line-height: 1;
    
        i {
            position: absolute;
            right: var(--smallGap);
            font-size: 1.2em;
        }
    
        i {
            color: #acacacac;
            transition: all 0.2s;
        }
    
        &:hover {
            color: #acacac;
            i {
                color: #acacac;
            }
        }
    
        &.green {
            color: transparentize($green, 0.3);
    
            &:hover {
                color: $green;
            }
        }
    
        &.notify::after {
            content: '';
            position: absolute;
            left: calc(var(--smallGap) / 1.5);
            top: calc(var(--smallGap) / 1.5);
            width: 5px;
            height: 5px;
            background-color: $red;
            border-radius: 50%;
        }

        .addressName {
            display: flex;
            flex-direction: column;
            gap: 3px;

            span {
                font-size: 10.5px;
            }
        }
    }

    > .addressElement {
        margin-right: 0;
        
        &:hover {
            color: #acacac;
            background-color: #333;
        }
    }
}

.currentAddress {
    position: relative;
    color: #acacacac;
    text-overflow: ellipsis;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--smallGap);
    width: $width;
    height: 19px;
    border-radius: var(--smallGap);
    background-color: var(--mainBack);
    transition: all 0.2s ease;
    // background-color: var(--mainBack);
    cursor: pointer;
}

.currentAddress:hover {
    color: #acacac;
    background-color: #333;
}

.currentAddress i {
    position: absolute;
    right: 10px;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    color: #acacac;
}

.addressSelector .dropdown {
    position: absolute;
    z-index: 1;
    top: 100%;
    opacity: 0;
    filter: blur(2px);
    background-color: #333;
    border-radius: var(--mediumGap);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    box-shadow: 0 0 10px 0px #0001;
    pointer-events: none;

    &.active {
        top: calc(100% + var(--smallGap));
        display: block;
        opacity: 1;
        filter: blur(0);
        pointer-events: auto;
    }
}

.addressSelector .dropdownWrapper {
    position: relative;
}

.addressList {
    position: absolute;
    width: calc($width + var(--smallGap) * 2);
    max-height: calc($height - var(--mediumGap));
    padding: var(--smallGap);
    overflow: hidden;
    transition: all 0.2s ease;
    opacity: 0;
    filter: blur(2px);
    pointer-events: none;
    transform: translateX(calc(var(--smallGap) * -1));
    transform: translateX(calc(-100% - var(--smallGap)));
}

.addressListScroll {
    max-height: calc($height - var(--mediumGap));
    display: flex;
    flex-direction: column;
    gap: var(--smallGap);
    margin-right: -9.5px;
    overflow-y: scroll;
}

.dropdown .address {
    position: relative;
    color: #acacacac;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 var(--smallGap);
    cursor: pointer;
    transition: all 0.2s;
    background-color: var(--mainBack);
    border-radius: var(--smallGap);
    padding: var(--smallGap);
    margin-right: 2.5px;
    text-overflow: ellipsis;
    line-height: 1;

    i {
        font-size: 1.2em;
        margin-left: auto;
    }

    i {
        color: #acacacac;
        transition: all 0.2s;
    }

    &:hover {
        color: #acacac;
        i {
            color: #acacac;
        }
    }

    &.green {
        color: #07d407ac;

        &:hover {
            color: #07d407;
        }
    }

    &.notify::after {
        content: '';
        position: absolute;
        left: calc(var(--smallGap) / 1.5);
        top: calc(var(--smallGap) / 1.5);
        width: 5px;
        height: 5px;
        background-color: #ff2c10ca;
        border-radius: 50%;
        
    }
}

.adminList {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: var(--smallGap);
    width: calc($width + var(--smallGap) * 2);
    max-height: calc($height - var(--mediumGap));
    padding: var(--smallGap);
    overflow: hidden;

    transition: all 0.2s ease;
    opacity: 0;
    filter: blur(2px);
    pointer-events: none;
    transform: translateX(var(--smallGap));
    transform: translateX(calc(100% + var(--smallGap)));

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(var(--smallGap) / 2);

        .backButton {
            color: #acacacac;
            transition: all 0.2s ease;
            cursor: pointer;
            transition: all 0.2s ease;
            padding: var(--smallGap);
            border-radius: var(--smallGap);
            background-color: var(--mainBack);

            &:hover {
                color: #acacac;
            }
        }

        .backButton {
            color: #acacacac;
            transition: all 0.2s ease;
            cursor: pointer;
            transition: all 0.2s ease;
            padding: var(--smallGap);
            border-radius: var(--smallGap);
            background-color: var(--mainBack);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(41px - var(--smallGap) * 2);
            height: calc(41px - var(--smallGap) * 2);

            i {
                position: absolute;
                transform: translateX(-1px);
                font-size: 1.3em;
                color: #acacacac;
                transition: all 0.2s ease;
            }

            &:hover {
                color: #acacac;

                i {
                    color: #acacac;
                }
            }
        }

        > .addressElement {
            flex: 1;
            margin-right: 0;
            font-weight: 600;
            // justify-content: center;
        }
    }

    .search {
        position: relative;
        // height: 40px;
        // box-sizing: border-box;
        display: flex;
        align-items: center;
        // gap: 5px;
        // padding: var(--smallGap);
        // border-radius: var(--smallGap);
        // border: 1px solid #acacac40;
        // background-color: var(--mainBack);

        transition: all 0.2s ease;

        input {
            // position: absolute;
            left: 0;
            background-color: transparent;
            height: 37px;
            width: calc(100% - var(--smallGap) * 4);
            color: #acacac;
            border: none;
            outline: none;
            font-size: 1em;
            padding-left: var(--smallGap);
            padding-right: calc(var(--smallGap) * 3);
            margin: 0;
            border-radius: var(--smallGap);
            border: 1px solid #acacac40;

            &::placeholder {
                color: #acacacac;
            }

            &:focus {
                color: #acacac;
            }
        }

        i {
            position: absolute;
            right: var(--smallGap);
            font-size: 1.3em;
            color: #acacacac;
            pointer-events: none;
        }
    }

    .noAssociations {
        color: #acacacac;
        padding: calc(var(--smallGap) / 2) var(--smallGap);
    }
}

.adminList.active, .addressList.active {
    position: static;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

    &.open {
        pointer-events: auto;
    }
}
