.createAssociation {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--largeGap) * 4);
    width: calc(100vw - var(--largeGap) * 4);
    margin: 0;
    border-radius: var(--mediumGap);
    background-color: var(--mainBack);
}