$small-gap: 12.5px;
$medium-gap: 25px;
$large-gap: 50px;
$light-color: #9ad0c2;
$main-color: #2d9596;
$main-color-dark: #237879;
$dark-color: #265073;
$light-color: #9ad0c2;
$light-back: #f9f9f9;
$main-back: #252525;
$dark-back: #171717;
$light-text: #acacac;

$green: #1db61d;
$red: #ff3021;
