@import '/src/_variables.scss';

.home-admin {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: $medium-gap;
    color: $light-text;

    > .right {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: $medium-gap;
    }
}